:root {
  --primary-color: #2563eb; /* Professional Blue */
  --secondary-color: #1e293b; /* Dark Slate */
  --accent-color: #38bdf8; /* Sky Blue */
  --bg-light: #f8fafc; /* Off-white background */
  --text-main: #0f172a; /* Near black for readability */
  --text-muted: #64748b; /* Grey for descriptions */
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg-light);
  color: var(--text-main);
  line-height: 1.6;
}

/* CONTACT FORM (Arli) */

.contact-container {
  border: 2px solid #64748b40;
  border-radius: 10px;
  width: 40%;
  margin: 60px auto;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  padding: 25px;
  background-color: #64748b20;
}

.contact-form h1{
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  color: #2c1c5c;
}


label{
  color: #222;
  font-size: 17px;
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
}

input, textarea {
  height: 40px;
  font-size: 16px;
  width: 100%;
  /* padding: 50px; */
  border-radius: 5px;
  border: none;
  outline: none;
}

textarea {
  height: 100px;
  padding-top: 10px;
  resize: none;
}

button {
  width: 100%;
  font-size: 17px;
  background-color: #82104f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s ease
}

button:hover {
  background-color: #7a2d58;
}

@media screen and (max-width: 768px) {
  .contact-container {
    display: flex;
    flex-direction: column;
  }
}


/* CONTACT FORM END (Arli) */