:root {
  --primary-color: #2563eb; /* Professional Blue */
  --secondary-color: #1e293b; /* Dark Slate */
  --accent-color: #38bdf8; /* Sky Blue */
  --bg-light: #f8fafc; /* Off-white background */
  --text-main: #0f172a; /* Near black for readability */
  --text-muted: #64748b; /* Grey for descriptions */
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg-light);
  color: var(--text-main);
  line-height: 1.6;
}

/* NAVBARSTART (Ayomide) */
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 20px;
  }
  .header-left{
    display: flex;
    align-items: center;
  }
  .header-left img{
    width: 90px;
  }
  .header-left p{
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary-color);
  }
  .nav-container{
    display: flex;
    justify-content: space-between;
    width:20%;
  }
  .nav-container a{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
/* NAVBAREND */